/* Resetear estilos y establecer un estilo de fuente predeterminado */
body, h1, h2, p, label, input, button {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  /* Estilo del contenedor principal */
  .contenedor {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilo del encabezado */
  .encabezado {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .encabezado h1 {
    font-size: 2em;
  }
  
  .encabezado h2 {
    font-size: 1.2em;
    margin-top: 5px;
  }
  
  /* Estilo del contenido de búsqueda */
  .contenidoBusc {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    padding: 5px;
    width: 200px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 8px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  /* Estilo de las secciones de contenido de imágenes */
  .contenidoImg {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  #categoria,
  #instrucciones,
  #imagen {
    width: 30%;
  }
  
  /* Estilo del botón Limpiar */
  #btnLimpiar {
    margin-top: 20px;
    padding: 10px;
    background-color: #ccc;
    color: #333;
    border: none;
    cursor: pointer;
  }
  